body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    cursor: pointer;
}

.max-width {
    margin: 0 calc((100% - 1200px)/2);
}

header {
    background-color: #1f2937;
    color: white;
    padding-top: 10px;
}

.header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px 0 10px 0;
}

.link-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.introduction-text {
    width: 500px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.image-placeholder {
    height: 200px;
    width: 500px;
    background-color: gray;
}

.button-sign-up {
    margin: 10px;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border-style: solid;
    border-color: #3882f6;
}

.second-container {
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 0;
}

.random-information {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.third-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}

.img-subtext-container {
    width: 150px;
    height: 250px;
}

.blue-box {
    height: 200px;
    width: 200px;
    background-color: transparent;
    border-radius: 10px;
    border-color: #3882f6;
    border-style: solid;
}

.second-subtext {
    width: 200px;
    font-size: 18px;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

.quote-container {
    padding: 70px 0 70px 0;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    display: flex;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    width: 900px;
    color: #1F2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 26px;
}

.fourth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 70px 0;
}

.ad-container {
    width: 900px;
    height: 150px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ad-title {
    font-size: 22px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-left: 50px;
}

.ad-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 50px;
}

.ad-sign-up-button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border-style: solid;
    border-color: #F9FAF8;
    font-size: 18px;
    color: #F9FAF8;
    background-color: transparent;
    margin-right: 50px;
}

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    color: #F9FAF8;
}